@charset "ISO-8859-1";

form {
 background-color: #FFF;
 height: 120px;
 width: 500px;
 margin-right: auto;
 margin-left: auto;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 padding: 0px;
}
body {
    display: block;
    margin: 8px;
}

.commentbox{
	
	padding :1px 2px;
	width:500px ;
	height:50px;
	word-wrap: break-word;
}

 .commentdiv{
	

    width: 500px;
    height: 140px;

} 

.button {
    background-color: #0083ff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border: none;
    font-family: sans-serif;
}
.button1 {
    background-color: #0083ff00;
    color: #607D8B;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border: none;
    font-family: sans-serif;
}
.divbtton{
	
	float:right;
	
}
.lab{
	color:#00000078;
    font-family: sans-serif;
    font-size: small;
}

.header{
	height: 60px;
    margin-left: 150px;
    margin-right: 150px;
        border-bottom: inset;
        border-bottom-width: thick;
}
.image{
	padding:10px;
}

.line{
	
	border:1px;
}
.name{
	
	
}
.section{
	
}
.mainsection{
background-color: #FFF;
 height: 500px;
 width: 500px;
 margin-top:20px;
 margin-right: auto;
 margin-left: auto;
 padding: 5px;
 border-top:ridge;
}
.sectiontitle{
	
	color: #000000a1;
    font-family: sans-serif;
    font-size: medium;
    font-weight:bold;
}

.commentname{
	font-size: small;
    color: #0c27a9e0;
	
}

.commenttext{
	font-family: sans-serif;
    font-size: small;
    font-stretch: semi-expanded;
    margin-top: 10px;
	
	
}
.commentcount{
	
	color:grey;
}
.time{
	
	color:grey;
	font-size:small;
}
.namee{
	font-family: initial;
    font-size: medium;
    color: darkslategrey;
}

.catagory {
   
    margin-right: 0;
    float: left;
    margin-left: 20px;
    margin-top: 18px;
}
.catabtn{
	
	background-color:#2196F3;
    border: none;
        border-radius: 5px;
    padding: 5px;
    font-size: medium;
    color: antiquewhite;
    margin-bottom: 5px;
    width: 150px;
}

.form-popup {
 
  display: none;
    background-color: white;
    color: #607d8b;
    margin-top: -20px;
    /* margin-right: 50px; */
    height: 85px;
    width: 200px;
    margin-left: 45px;
    position:absolute;
    /* margin-right: 0px; */
    /* border: 3px solid; */
    /* border-radius: 20px; */
    /* border-color: #9E9E9E; */
    /* border-width: thin;
   
 /*  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px; */
}
 .form-container{
	
 
}
	
/* .form-popup {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


.form-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */ 