@CHARSET "ISO-8859-1";
h1{
	color:#0000FF;
}
p{
	color:white;
	
}
 
 input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: cyan;
}

label
{
 color:white;
 font-weight: bold;
 display: block;
 width: 150px;
}

 
 
