<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/comment.css}"
	href="../../css/comment.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<title>Post comment</title>
</head>
<script>
function openbox(id) {
	
	console.log("myform"+id);
  document.getElementById("myForm" + id).style.display = "block"; 
  /* var popup = document.getElementById("myForm"");
  popup.classList.toggle("show"); */
  
  document.getElementById("mytext"+id).value =id;
  
}

function closeForm(id) {
  document.getElementById("myForm" + id).style.display = "none";
}

function countupdate(){
	
	var text=document.getElementById("postkudo").value ;
	console.log(text);
	var textsize=text.length;
	console.log("textsize"+textsize);
	
	var count=document.getElementById("count").innerHTML ;
	a=Number(count);
	console.log("count"+a);
	if(textsize<a){
		
		a=a-1;
		console.log("less"+a);
		}
	else
		{
		a=a+1;
		console.log("not less"+a);
		}
	
	
	document.getElementById("count").innerHTML  = a;
	
	
}
</script>
<style>
ul {
  list-style-type: none;
  margin: 2px;
  padding: 0;
 
  
}


li {
  float: right;
  color:grey;
}

</style>
<body>

<div class="header">
<p style="float:left;font-size: xx-large;font-family: sans-serif;color: blueviolet;">Kudos</p>
<ul>
<!-- <li ><a th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"><span>Logout</span></i></a></li> -->
<!-- <li class="name" th:text="${user.getName()}"></li> -->
<li class="image"><img class="picture" th:src="@{/image/{name} (name=${user.getName()})}" style="border-radius:50% 50% 50% 50%;width:30px;height:30px;" /><span th:text="${user.getName()}"></span><i>&nbsp;&nbsp;</i><a th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"><span>Logout</span></i></a></li>
<!-- <li style="float: left;color:#7D33FF;font-weight:bold;font-family:Arial;"><span>Kudos</span></li> -->
</ul>

</div>
<br><br>
<form action="#" th:action="@{/postcomment}" method="post" >
<div>

 <div class="commentdiv">
 
          <label class="lab" for="postkudo">Post kudos</label>
          <br/>
          <br/>
         <textarea class="commentbox"  id="postkudo" name="postkudo" maxlength="200" th:value="${postkudo}" th:oninput="'javascript:countupdate();'" required></textarea><br>
             
     <p id ="count">0</p>
     <p>200</p>
      <input class="button1"  type="button" value="Cancel" style="float:right;" />
      <input class="button" type="submit" value="Post" style="float:right;"/><br />
      <input type="hidden" name="username" th:value="${user.getName()}"/>
      
     </div>   
      
      </div>
    
        
  <!--       <table style="border-collapse: separate; border-spacing: 10px;">
	
	
			<tr th:each="comment:${list}">
			
			<td><img class="picture" th:src="@{/image/{name} (name=${comment.getUser().getName()})}" style="border-radius:50% 50% 50% 50%;width:50px;height:50px;" /></td>
				<td th:text="${comment.getInsert_ts()}"></td>
				
			<td th:text="${comment.getText_message()}"></td>
			
	        <td><a th:href="@{/like/{id}(id=${comment.getComment_id()})}">Like</a></td>
	         <td><a th:href="@{/delete/{id}(name=${comment.getComment_id()})}">Delete</a></td>
	      
	        
	    
		</tr>
		
		
	</table> -->
	
	
        </form>
          <!--   <div class="catagory">
        <button class="catabtn">International News</button><br/>
        <button class="catabtn">Entertainment</button><br/>
        <button class="catabtn">Sports</button><br/>
        <button class="catabtn">National News</button><br/>
        <button class="catabtn">Food</button><br/>
        <button class="catabtn">Education</button><br/>
        <button class="catabtn">Agriculture</button><br/>
        <button class="catabtn">Help</button><br/>
        </div> -->
        <div class="mainsection">
        <p class="sectiontitle">Latest kudos</p>
        
    
	<div class="section" th:each="comment:${list}">
	
	<img class="picture" th:src="@{/image/{name} (name=${comment.getUser().getName()})}" style="border-radius:50% 50% 50% 50%;width:30px;height:30px;"/><i>&nbsp;&nbsp;</i><span class="namee" th:text="${comment.getUser().getName()}"></span><i>&nbsp;&nbsp;</i>
	<!-- <span th:text="${#dates.format(comment.getInsert_ts(), 'dd-MM-yyyy HH:mm')}"></span> -->
	<span class="time" th:text="${#dates.hour(comment.getInsert_ts())}"></span><i>&#58;</i><span class="time" th:text="${#dates.minute(comment.getInsert_ts())}"></span>
	<span class="time" th:text="${#dates.monthNameShort(comment.getInsert_ts())}"></span>
	<span class="time" th:text="${#dates.day(comment.getInsert_ts())}"></span>
	<span class="time" th:text="${#dates.year(comment.getInsert_ts())}"></span>

	<!-- <p class="commentname" th:text="${comment.getUser().getName()}"></p> -->
	<!-- <p class="commentname" th:text="${comment.getInsert_ts()}"></p> -->
	<p class="commenttext" th:text="${comment.getText_message()}"></p>
	<a th:href="@{/like/{id}(id=${comment.getComment_id()})}"><i class="glyphicon glyphicon-thumbs-up"><span class="commentcount" th:text="${comment.getLike_count()}"></span></i></a>
	
	<span  th:if="${user.getId() == comment.getUser().getId()}">
	<a th:onclick="'javascript:openbox('+${comment.getComment_id()}+');'"><i class="fa fa-trash" style="color:hotpink;"></i></a>
	</span>
	<!-- th:href="@{/delete/{id}(id=${comment.getComment_id()})}" -->
	
	<!-- <div class="form-popup" id="myForm"> -->
  <form th:id="'myForm' + ${comment.getComment_id()}" action="#" th:action="@{/delete}" class="form-popup" method="post">
  <p>Are you Sure ?</p>
  <button type="submit">Yes</button>
  <button type="button" th:onclick="'javascript:closeForm('+${comment.getComment_id()}+');'">No</button>
  <input th:id="'mytext' + ${comment.getComment_id()}" type="hidden" name="id"/>
  </form>
<!-- </div>
	 -->
	<br/><br/>
	</div>
	</div>
         
</body>
</html>