<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/fp.css}"
	href="../../css/fp.css" />
<title>Reset Password</title>
</head>
<body>

<div class="header">
  <p style="float:left;font-size: x-large;font-family: sans-serif;color:#f7efae;">InfoBox</p></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
      

<!-- @{/commentpage}-->
<div class="loginform">

   <form th:with="authUrl=${'/resetPassword'}" action="#" th:object = "${fp}" th:action="${authUrl}" method="post">
    <fieldset>
  
      <div>
      <p class ="s">Reset</p>
      <label for="Email">Email</label>
      <input type="text"  name="email" th:value="${email}"/> 
      <br />
      <label for="newPassword">New Password</label>
      <input type="password"  name="newPassword" th:value="${password}"/> 
      <br />
      <br />
      <input class="submit" type="submit" value="Reset" />
      
      </div>
      
      </fieldset>
    </form>
    </div>
      <div th:if='!${check}'><p th:text='${message}'></p></div>
    
    <div th:if='${check}'><p th:text='${successMessage}'></p>
  <p><a th:href="@{/}">Login</a></p></div>
    

</body>
</html>