<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<title>Login page</title>
</head>
<body>
<div class="header">
  <p style="float:left;font-size: x-large;font-family: sans-serif;color: blueviolet;">Kudos</p></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
      

<!-- @{/homepage}-->
<div class="loginform">

   <form th:with="authUrl=${'/commentpage'}" action="#" th:action="${authUrl}" method="post">
    <fieldset>
  
      <div>
      <p class ="s">Sign in</p>
      <label for="username">User name</label>
      <input type="text"  name="username" th:value="${username}"/> 
      <br />
      <label for="password">Password</label>
      <input type="password"  name="password" th:value="${password}"/> 
      <br />
      <br />
      <input class="submit" type="submit" value="Sign in" />
      
      </div>
      <p>New User ? <a th:href="@{/register}">Sign up</a></p>
      
      </fieldset>
    </form>
    </div>
    
</body>
</html>